@use "../../scss/" as *;

.navigation {
  position: fixed;

  height: 100%;
  width: 140px;
  padding-top: $padding-top;
  z-index: 10000;

  background-color: #f2f2f2;

  border-right: 1px solid #000;

  @include mobile {
    left: 0;
    bottom: 0;

    height: 65px;
    width: 100%;
    padding: 5px 0 8px 0;
    border-right: none;

    display: flex;
    align-items: center;
  }

  &__items {
    position: absolute;
    left: 0;
    margin-left: 5px;

    display: flex;
    flex-direction: column;

    @include mobile {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 0;
    }

    color: #222;

    .item {
      @include flex(center, center, column);
      height: 75px;
      padding: 10px;
      width: 130px;

      @include mobile {
        padding: 5px 10px;
        justify-content: space-between;
        width: auto;
        height: 100%;
      }

      i {
        font-size: 2rem;
        @include mobile {
          padding-bottom: 2px;
          font-size: 1.4rem;
        }
      }
    }

    .active {
      color: $main-color;
    }

    .item-emty {
      position: absolute;
      top: 0px;
      left: 0;

      height: 0;
      width: 100%;

      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 10px;

      transition: top 0.2s ease;

      pointer-events: none;

      @include mobile {
        display: none;
      }
    }

    .item-active,
    .item-active-responsive {
      position: absolute;

      background-color: $main-color;
      border-radius: 3px;

      transition: top 0.2s ease;
      z-index: 999;
      pointer-events: none;
      transition: all 0.2s ease;
    }

    .item-active {
      top: 0px;
      right: -7px;

      height: 75px;
      width: 5px;
      @include mobile {
        display: none;
      }
    }

    .item-active-responsive {
      opacity: 0;
      left: 0;
      bottom: -2px;
      width: 0px;
      height: 5px;
      @include mobile {
        opacity: 1;
      }
    }
  }

  .options {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;

    @include flex(center, center, column);

    @include mobile {
      position: fixed;
      bottom: unset;
      top: 0;

      height: 50px;

      padding: 0 10px;
      background: $background-light-mode;

      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__cvInfor {
      margin-bottom: 20px;
      @include flex(center, center, column);

      @include mobile {
        display: none;
      }

      img {
        display: block;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &__cvInfor2 {
      display: none;

      @include mobile {
        display: flex;
        align-items: center;
      }

      h3 {
        font-weight: 400;
        font-size: 17px;
      }

      img {
        object-fit: cover;
        object-position: top;

        width: 50px;
        height: 50px;
        padding: 5px;

        border-radius: 50%;
      }
    }

    &__downloadCV {
      text-align: center;
      margin-bottom: 20px;

      @include mobile {
        margin-bottom: 0;
      }

      a {
        font-size: 15px;
        padding: 10px 0px;
        text-decoration: none;
        color: $main-color;
        i {
          font-size: 30px;
          padding: 0 50px;

          @include mobile {
            padding: 0 10px;
            font-size: 20px;
          }
        }

        p {
          @include mobile {
            display: none;
          }
        }
      }

      &:hover {
        color: red;
      }
    }

    &__language {
      position: relative;

      width: 100%;
      margin-bottom: 10px;
      padding: 0px 5px;
      cursor: pointer;

      @include mobile {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        width: unset;
      }

      i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 20px;
      }

      #react-select-3-listbox > div {
        padding: 0px;
      }
    }

    &__darkmodeSwitch {
      @include mobile {
        display: flex;
        align-items: center;
      }

      .react-switch-bg {
        background-color: #000;

        .fa-moon,
        .fa-lightbulb {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #fff;
        }
      }
    }
  }
}

.dark-mode {
  .navigation {
    background-color: #18191a;
    border-right: 1px solid #000;

    &__items {
      .item {
        color: rgb(200, 199, 199);
      }

      .active {
        color: $main-color-darkmode;
      }

      .item-emty {
        background-color: rgba(209, 209, 209, 0.3);
      }

      .item-active,
      .item-active-responsive {
        background-color: $main-color-darkmode;
      }
    }

    .options {
      @include mobile {
        background: $background-dark-mode;
      }

      &__downloadCV {
        a {
          color: $main-color-darkmode;
        }
      }

      p &__language {
        p {
          border-bottom: 1px solid #000;
        }

        #react-select-3-listbox > div {
          padding: 0px;
        }
      }
    }
  }
}
