$main-color: #5463ff;
$main-color-darkmode: #5ba5fe;
$text-color-highlight: #d82148;
$text-color-highlight-darkmode: #fc5b7d;
$padding-top: 20px;
$color: rgb(170, 170, 170);

$background-light-mode: #f2f2f2;
$background-dark-mode: #000;
